@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');


/*
.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  0072ce
  3675ad
}
*/

* {
  padding: 0;
  margin: 0;
}


.App {
  background-color: #0072ce;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.text1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3em;
  color: #4faede;
  letter-spacing: 3px;
}

.app-cont {
  display: flex;
  background-color: white;
  padding: 2em;
  margin: 4em;
  width: 90%;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;

}

.content-cont {
  width: 50%;
  display: grid;
  place-items: center;
}

.nav button {
  margin: 10px;
  padding: 10px 20px;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  background-color: #0072ce;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.nav button:hover {
  background-color: #3675ad;
}

.content-cont h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4em;
  color: #0072ce;
  margin-bottom: 0.5em;
}

.content-cont h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #4faede;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.content-cont p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #333;
  line-height: 1.5;
  margin-bottom: 1em;
  max-width: 800px;
}

.who {
  max-width: 80%;
}

.content-cont ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.content-cont li {
  margin-bottom: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #333;
  display: flex;
  gap: 10px;
}

.content-cont a {
  color: #0072ce;
  text-decoration: none;
}

.content-cont a:hover {
  text-decoration: underline;
}